@page "/access-denied"
@using Microsoft.AspNetCore.Components.Routing

<h3>Access Denied</h3>
<p>You don’t have permission to view that page.</p>

<div class="mt-3">
    <NavLink href="/" class="btn btn-primary" Match="NavLinkMatch.All">
        Return to Home
    </NavLink>
</div>
