@page "/auth"

@using Microsoft.AspNetCore.Authentication
@using BlazorBootstrap
@using System
@using Microsoft.AspNetCore.Authentication.Cookies;

@inject NavigationManager Nav

@rendermode InteractiveServer

<div class="d-flex justify-content-center align-items-center">
    <div class="text-center">
        <button class='btn btn-primary btn-lg mx-2'
                @onclick='() => Nav.NavigateTo("/login", true)'>
            Login
        </button>
        <button class='btn btn-secondary btn-lg mx-2'
                @onclick='() => Nav.NavigateTo("/register")'>
            Register
        </button>
    </div>
</div>
