@page "/login"
@using Microsoft.AspNetCore.Authentication
@using ShowTime.BusinessLogic.Abstractions
@using ShowTime.BusinessLogic.Dtos
@using NetRom_ShowTime.Components
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Forms
@using System.Security.Claims
@using ShowTime.DataAccess.Models
@using Microsoft.AspNetCore.Authentication.Cookies;

@inject IUserService UserService
@inject NavigationManager NavigationManager

<HeadContent>
    <link rel="stylesheet" href="css/auth-login.css" />
</HeadContent>

<h3>Login</h3>

<EditForm Model="newUser" OnValidSubmit="Authenticate" FormName="Login">
    <DataAnnotationsValidator />

    <label for="email">Email:</label>
    <InputText id="email" @bind-Value="newUser.Email" class="form-control mb-2" />
    <ValidationMessage For="@(() => newUser.Email)" />

    <label for="password">Password:</label>
    <InputText id="password" type="password" @bind-Value="newUser.Password" class="form-control mb-2" />
    <ValidationMessage For="@(() => newUser.Password)" />

    <button class="btn btn-primary mt-2 mb-3">Log In</button>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private LogInDto newUser { get; set; } = new();

    [CascadingParameter] private HttpContext HttpContext { get; set; } = null!;

    private async Task Authenticate()
    {
        try
        {
            var response = await UserService.LogInAsyncR(newUser);

            if (response == null)
            {
                throw new Exception("Invalid login attempt.");
            }

            var claims = new List<Claim>
            {
                new(ClaimTypes.Email, newUser.Email),
                new(ClaimTypes.NameIdentifier, response.Id.ToString()),
                new(ClaimTypes.Role, Enum.GetName(typeof(Role), response.Role) ?? nameof(Role.User))
            };

            var claimsIdentity = new ClaimsIdentity(claims, CookieAuthenticationDefaults.AuthenticationScheme);
            var claimsPrincipal = new ClaimsPrincipal(claimsIdentity);

            await HttpContext.SignInAsync(CookieAuthenticationDefaults.AuthenticationScheme, claimsPrincipal);

            NavigationManager.NavigateTo("/", forceLoad: true);
        }
        catch (Exception ex) when (ex is not NavigationException)
        {
            Console.WriteLine($"Login failed: {ex.Message}");
        }
    }
}
